.contact-section {
    padding: 80px 0;
    max-width: 1140px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 40px;
    color: #222;
}

.contact-wrapper {
    display: flex;
    gap: 50px;
    align-items: flex-start;
}

/* Form Styles */
.contact-form {
    flex: 2; /* Foomka ayaa ballaaran */
}

.contact-form textarea {
    width: 100%;
    height: 160px;
    padding: 15px;
    border: 1px solid #f0e9ff;
    margin-bottom: 20px;
    outline: none;
    font-size: 14px;
    color: #999;
    resize: none;
}

.input-row {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.input-row input, .subject-input {
    width: 100%;
    padding: 12px 15px;
    border: 1px solid #f0e9ff;
    outline: none;
    font-size: 14px;
    color: #999;
}

.subject-input {
    margin-bottom: 30px;
}

.send-btn {
    background: transparent;
    border: 1px solid #ff5e13;
    color: #ff5e13;
    padding: 15px 45px;
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s ease;
}

.send-btn:hover {
    background: #ff5e13;
    color: #fff;
}

/* Info Sidebar Styles */
.contact-info {
    flex: 1; /* Qaybta macluumaadka ayaa yar */
}

.info-item {
    display: flex;
    margin-bottom: 25px;
    line-height: 1.7;
}

/* Icon-yada sida sawirkaaga */
.info-item span {
    font-size: 27px;
    color: #8f8f8f; /* Midabka cawlka ah */
    margin-right: 20px;
}

.info-text h3 {
    font-size: 16px;
    color: #2a2a2a;
    font-weight: 500;
    margin-bottom: 2px;
}

.info-text p {
    font-size: 14px;
    color: #999;
}

/* Responsive (Mobile) */
@media (max-width: 768px) {
    .contact-wrapper {
        flex-direction: column;
    }
    .input-row {
        flex-direction: column;
    }
}
/* MAP SECTION */
.map-section{
    width: 100%;
    padding: 60px 0;
    background: #fff;
}

/* grey map box */
.map-placeholder{
    width: 75%;
    height: 470px;
    background: #e9eaec;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* center content */
.map-center{
    text-align: center;
}

/* icon */
.map-icon{
    width: 42px;
    height: 42px;
    background: #6f6f6f;
    color: #fff;
    border-radius: 50%;
    font-size: 26px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 12px;
}

/* text */
.map-center h3{
    font-size: 18px;
    color: #444;
    margin-bottom: 6px;
}

.map-center p{
    font-size: 13px;
    color: #666;
    line-height: 1.5;
}